body {
  font-family: "Roboto", sans-serif;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
}

ul li {
  list-style: none;
  margin: 0;
}
li:nth-of-type(even) {
  background-color: #f7f7f7;
}

li {
  height: 2.5rem;
  background-color: #fff;
  line-height: 2.5rem;
  color: #666;
  font-weight: 300;
}

input {
  border: none;
  width: inherit;
  color: #2980b9;
  padding: 13px 13px 13px 20px;
  text-align: left;
  font-weight: 500;
  background-color: inherit;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}
span {
  display: inline-block;
  width: 0;
  background-color: #e74c3c;
  height: inherit;
  margin-right: 20px;
  color: white;
  text-align: center;
  opacity: 0;
}

li:hover span {
  width: 40px;
  transition: 200ms linear;
  cursor: pointer;
  opacity: 1;
}

input:focus {
  background-color: white;
  border: 3px solid #2980b9;
  outline: none;
}

.completed {
  color: grey;
  text-decoration: line-through;
}

.fa-pencil {
  float: right;
}

#container {
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
